@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.palette-section {
  max-width: 800px;
  margin: 40px auto;
  min-height: calc(100vh - 100px);
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-top: 80px;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

h2 {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  background: -webkit-linear-gradient(#f3f4f5, #259ff1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

p {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

